body {
  margin: 0;
  font-size: 90px;
  font-weight: bold;
  color: #000000;
  font-family: Segoe UI;
  border: 5px solid rgb(31, 190, 177);
  box-sizing: border-box;
  height: 100vh;
}

.wrapper {
  height: 100%;
  background-image: repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    ),
    repeating-linear-gradient(
      45deg,
      currentColor 25%,
      transparent 25%,
      transparent 75%,
      currentColor 75%,
      currentColor
    );
  background-position: 0 0, 25px 25px;
  background-size: calc(2 * 25px) calc(2 * 25px);
  background-color: rgba(31, 190, 177, 0.9);
}

#content {
  position: relative;
  top: 50%;
  width: 135px;
  margin: 0 auto;
  transition: 0.7s;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #ffffff;
}

#content:hover{
    font-size: 100px;
    cursor: pointer;
    transform: rotateZ(45deg);
    transition: 0.7s;
    transform-origin: 10px 20px;
    border: 5px solid #000000;
}

.emoji {
  text-align: center;
}
